.v-application, .v-card {
  transition: background-color .2s;
}

.v-application.theme--light {
  header.v-toolbar {
    background-color: #bdf !important;
  }
  main.v-content {
    background-color: #def;
  }
}

.vjs-poster {
  background-size: cover;
}

// Scrollbar customization
::-webkit-scrollbar {
  background: #fff8;
  width: 10px;
  height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0006;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000c;
}

.tapable {
  user-select: none;
  cursor: pointer;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
